<br>
<h1 class="card text-center bg-info text-white">Tweets</h1>
  <br>
    <% @tweets.reverse_each do |tweet| %>

    <div class="card">
      <div class="card-header bg-info text-white pb-0 pt-1">
        <h3 class="d-inline"><%= tweet.Title %></h3>
        <div class="float-right">
          <div class="dropdown show">
            <a class="btn btn-primary dropdown-toggle  pt-0 pb-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Show', tweet,class:'dropdown-item'%>
              <%= link_to 'Edit', edit_tweet_path(tweet),class:'dropdown-item'%>
              <%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' },class:'dropdown-item'%>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <%= tweet.content %>
        </blockquote>
      </div>
      <div class="card-footer text-muted pb-0 pt-0">
        <small class="float-right">Created <%= time_ago_in_words tweet.created_at %> ago</small>
      </div>
    </div>
    <br>

    <% end %>

